body {
    margin-left: 150px;
    margin-right: 150px;
    
}

/* NavBar */
#Navbar{
    margin-top: 53px ;
}


.navbar-nav  {
   
    gap: 25px;
    font-size: 16px;
    color: #343434;
    font-family: "DM Sans", sans-serif;
}

.dropdown-item{
    font-size: 16px;
    color: #343434;
    font-family: "DM Sans", sans-serif;
}
.navbar-nav {
    align-items: center;
    justify-content: center;
    margin: auto;
  }

.btn-login{
    margin-right: 10px;
    font-family: "DM Sans", sans-serif;
    font-size:16px;
    font-weight: 500;
    color: #125B50;
    border: 1px solid #125B50;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    background-color:#fff;
}

.btn-signUp{
    font-family: "DM Sans", sans-serif;
    font-size:16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #125B50;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    background-color:#125B50;
}


/* Hero-Section */

.heading{
    margin-top: 148px;
    
}

h1{
    margin-bottom: 12px !important;
}
.hero-des{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 40px !important;
}
.btn-hero{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    padding: 20px 25px 20px 25px;
    background-color: #125B50;
    color: white;
    border: none;
    border-radius: 5px;

}

.hero-text{
    
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

.play-butto{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;

}
.play-icon{
   margin-right: 20px;
}

.star-section{
    display: flex;
    direction: flex-row;
    gap: 17px;
    
}

.rating-des{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
}

/* Media Querry */

/* Mobile */
@media (min-width:220px) and (max-width: 768px) {
    .Buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
    }
    .btn-signUp{
    padding: 10px 25px 10px 25px;
    }
    .btn-login{
    padding: 10px 25px 10px 25px;
    }
}

@media (min-width:769px) and (max-width: 1024px) {

    .navbar-nav  {
        gap: 10px;
    }
}